<div class="panel panel-default form-panel" id="post-contents">			
  			<div class="panel-body row">
  				<div class="col-sm-1">
  					<img src="/uploads/<%= User.find_by_id(tweet.user_id).profile_picture %> " class="round-image" height="50px" width="50px">
  					</img>
  				</div>
  				<div class="col-sm-11">
  					<p class="post-title"><span class="post-owner"><a href="/user/<%=User.find(tweet.user_id).username%>"><%=User.find(tweet.user_id).username%></a></span><span class="post-creation"> - <%=time_ago_in_words(tweet.created_at)%> ago</span></p>
					<p class="post-content"><%=tweet.content %></p>
				</div>

				<div class="col-sm-12">
					<ul class="post-links">
						<li><span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span></li>
						<li><span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span></li>
						<li>
						<div class="reload">
						<%=form_tag (toggle_path method:'post',id:'like_form',tweet_id:tweet.id),remote:true do%>
						<%= link_to tweet.like_string(current_user.id), url_for(controller: 'likes', action: 'toggle_like', tweet_id: tweet.id), method: :post,id: "like_#{tweet.id}" ,remote: true %> , <%= tweet.likes.count %>
		
						<% end %>
						</div>
						</li>

						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true">
						</span></a>
						<ul class="dropdown-menu">
							<% if tweet.user_id == current_user.id%>
			              		<li>Delete</li>
			              	<% else %>
			              		<li>Hide</li>
			              	<% end %>
			            </ul>
			            </li>

						<li><%= link_to 'Comments'%></li>
						</ul>
					</p>
				</div>
			</div>
		</div>

<style>
	.post-links{
		display: flex;
	}
	.post-links li{
		list-style: none;
	}
	.form-panel{
		box-shadow: 0px 1px lightgrey;
	}
	.round-image{
		border:1px solid #1da1f2;
	}
</style>

<script>
</script>