<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-default">
				<img class="profile-back" src="/bg2.jpg"/>
  			<div class="panel-body">
  				<div class="image-bg"><img src="/uploads/<%= current_user.profile_picture %>" >
				</div>
  				
  				<span class="online-user">
  					<%=current_user.username%>
				</span>
				
  				<div class="count">
	  				<div class="tweets-count">TWEETS</div>
	  				<div class="followers-count">FOLLOWERS</div>
  				</div>
  				<div class="count">
	  				<div class="tweets-count-val"><a href="#posts"><%=Post.where(user_id:current_user.id).count%></a></div>
	  				<div class="followers-count-val"><a href="#">78</a></div>
  				</div>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>Trends</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6" style="margin-top: 20px;">
		<%= render '/posts/post' %><br><br>
		<% for @p in @posts %>
	
		<div class="panel panel-default form-panel" id="post-contents">
  			<div class="panel-body row">
  				<div class="col-sm-1">
  					<img src="/uploads/<%= User.find_by_id(@p.user_id).profile_picture %> " class="round-image" height="50px" width="50px">
  					</img>
  				</div>
  				<div class="col-sm-11">
  					<p class="post-title"><span class="post-owner"><%=User.find(@p.user_id).username%></span><span class="post-creation"> - <%=time_ago_in_words(@p.created_at)%> ago</span></p>
					<p class="post-content"><%=@p.content %></p>
				</div>

				<div class="col-sm-12">
					<p class="Post-Links">
						<span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
					</p>
				</div>
			</div>
		</div>
	<% end %>
	
		<div class="panel panel-default form-panel">
	  			<div class="panel-body row">
	  				<div class="col-sm-12">
	  					<center><img src="/image.jpg" height="25px" width="25px"><br><a href="#top"><p style="opacity: 0.7">Back to Top <span class="glyphicon glyphicon-arrow-up"></span></p></a></center>
	  				</div>
	  			</div>		
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p class="About"> <a href=#>@ 2017 Zitter</a>
					<a href=#>About</a>
					<a href=#>Help</a>
					<a href=#>Terms</a>
					<a href=#>Privacy</a>
					<a href=#>Cookies</a>
					<a href=#>Ads</a>
					<a href=#>Info</a>
					<a href=#>Brand</a>
					<a href=#>Blog</a>
					<a href=#>Status</a>
					<a href=#>Ads</a>
					<a href=#>Jobs</a>
					<a href=#>Advertise</a>
					<a href=#>Businesses</a>
					<a href=#>Media</a>
					<a href=#>Developers</a>
				</p>
			</div>
		</div>
	</div>

</div>



<style>
	.About a{
		color: black;
		opacity: 0.5;
		font-size: 75%;
		text-decoration: none;
	}
	.About a:hover{
		opacity: 0.9;
	}
	.profile-back{
		width:261px;
		height: 150px;
	}
	.profile{
		width: 70px;
		height: 70px;
		padding: -5px;
		border: 3px solid white;
		border-radius: 10px;
	}
	.image-bg img{
		width: 70px;
		height: 70px;
		margin-top: -40px;
		margin-bottom: 20px;
		border: 5px solid white;
		border-radius: 5px;
	}
	.online-user{
		position: absolute;
		top: 160px;
		left: 120px;
		font-weight:bold;
		font-size: 18px;
	}
	.count{
		display: flex; 
		opacity: 0.6;
		font-size: 10px;
	}
	.followers-count{
		margin-left: 40px;
	}
	.tweets-count-val{
		margin-left: 5px;
		font-size: 20px;
		font-weight: bold;
	}
	.tweets-count-val a{
		text-decoration: none;
	}
	.followers-count-val{
		margin-left: 90px;
		font-size: 20px;
		font-weight: bold;
	}
	.followers-count-val a{
		text-decoration: none;
	}
</style>