<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body" id="profile">
				<img src="/bg2.jpg" class="img-responsive">
				<span><img src="/uploads/<%=current_user.profile_picture%>" class="profile profile_sketch">
				<span class="post-owner"><%=current_user.username%></span>
				</span>
				<div id="User_acts">
				<a href="#" id="noOfposts">Posts
					<div id="User_acts_count"><span id="tweets_count"><%=current_user.posts.length%></span></div></a>

				<a href="#" id="noOffollowers">Followers
				<div id="User_acts_count">13</div>
				</a>
				
				<a href="#" id="noOffollowees">Following
				<div id="User_acts_count">14</div></a>
				</div>
			</div>		
		</div>
		
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>Trends</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6" style="margin-top: 20px;">
		<%= render '/posts/form' %><br><br>
		<% @feed.each do |tweet| %>
			<div id="tweets">
			<%= render 'post', tweet: tweet %>
			</div>
		<% end %>
	
		<div class="panel panel-default form-panel">
	  			<div class="panel-body row">
	  				<div class="col-sm-12">
	  					<center><img src="/image.jpg" height="25px" width="25px"><br><a href="#top"><p style="opacity: 0.7">Back to Top <span class="glyphicon glyphicon-arrow-up"></span></p></a></center>
	  				</div>
	  			</div>		
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<p class="About"> <a href=#>@ 2017 Zitter</a>
					<a href=#>About</a>
					<a href=#>Help</a>
					<a href=#>Terms</a>
					<a href=#>Privacy</a>
					<a href=#>Cookies</a>
					<a href=#>Ads</a>
					<a href=#>Info</a>
					<a href=#>Brand</a>
					<a href=#>Blog</a>
					<a href=#>Status</a>
					<a href=#>Ads</a>
					<a href=#>Jobs</a>
					<a href=#>Advertise</a>
					<a href=#>Businesses</a>
					<a href=#>Media</a>
					<a href=#>Developers</a>
				</p>
			</div>
		</div>
	</div>

</div>

<style>
	#profile{
		height: 300px;
		margin: 0;
		padding: 0;
	}
	.profile_sketch{
		width: 90px;
		height: 90px;
		margin-top: -40px;
		margin-left: 10px;
	}
	#profile span span{
		font-size: 120%;
	}
	#noOfposts{
		font-size: 110%;
		font-weight: bold;
		text-decoration: none;
		color: black;
	}
	#noOffollowers{
		font-size: 110%;
		font-weight: bold;
		text-decoration: none;
		color: black;
	}
	#noOffollowees{
		font-size: 110%;
		font-weight: bold;
		text-decoration: none;
		color: black;
	}
	#noOfposts:hover{
		color: #1da1f2;
		opacity: 1.0;
	}
	#noOffollowees:hover{
		color: #1da1f2;
		opacity: 1.0;
	}
	#noOffollowers:hover{
		color: #1da1f2;
		opacity: 1.0;
	}
	#User_acts{
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
		opacity: 0.7;
	}
	#User_acts_count{
		margin-top: 5px;
		margin-left: -14px;
		display: flex;
		justify-content: space-around;
		opacity: 0.7;
	}
</style>