<a name="top"></a>
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>

    <img class="navbar-brand brand-pos" src= "/image.jpg">
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home"><span class="glyphicon glyphicon-home"></span><span class="nav-menu">Home</span></a></li>
        <li><a href="/explore"><span class="glyphicon glyphicon-flash"></span><span class="nav-menu">Explore</span></a></li>
        <li><a href="#2"><span class="glyphicon glyphicon-bell"></span><span class="nav-menu">Notifications</span></a></li>
        <li><a href="#3"><span class="glyphicon glyphicon-envelope"></span><span class="nav-menu">Messages</span></a></li>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><img class="nav-image" src="/uploads/<%=current_user.profile_picture%>" height="25px" width="25px" ></a>
            
            <ul class="dropdown-menu">
              <li><a href="/user/<%=current_user.username%>">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Settings', edit_user_registration_path)%></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Add Profile Photo',upload_image_path)%></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Add Cover Photo',upload_cover_image_path)%></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Log Out',destroy_user_session_path,:method => :delete)%></li>
            </ul>
          </li>
        <li>
            <form class="navbar-form navbar-search navbar-right searchbar" role="Search" id="submitform" action="/user/profile">
              <div class="form-group">
               <input type="text" class="search-query form-control" name="search" placeholder="Search Users.."> <button class="search-button"><span class="search-text">Search</span></button>
              </div>
          </form>
        </li>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
  $(".navbar [href]").each(function() {
    if (this.href == window.location.href) {
            $(this).addClass("active");
    }
});
  

</script>

<style>
  .active span{
    color: #1da1f2;
  }
  .dropdown-menu li a:hover{
    color: #1da1f2;
  }
  .nav-image{
    margin-top: 4px;
    border:1px solid #1da1f2;
    border-radius: 5px;
  }
  .searchbar{
    margin-left: -20px;
  }
  .search-button{
    margin-top: 7px;
    margin-left: 5px;
    background-color: #1da1f2;
    width: 80px;
    height: 30px;
    border:1px solid #1da1f2;
    border-radius: 30px;
  }
  .search-text{
    color:white;
  }
  .search-button:hover{
    border:1px solid white;
  }
  .search-button:hover .search-text{
    font-weight:bolder;
  }
</style>