<!DOCTYPE html>
<html>
<head>
  <title>Zitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>',type: 'success',
    timeout: 2000});
</script>

<% end %>


<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error' ,timeout: 2000});
</script>
<% end %>

<%= render '/layouts/nav' %>

<% if params[:id]!=nil %>
	<% @url='/user/'+params[:id] %>
	<div style="display: flex; width: 100%; height: 250px;">
		<div class="profile-banner">
		</div>
	</div>
	<div class="user-avatar">
	<img class="round" src="/uploads/<%=User.find_by_username(@username).profile_picture%>">
</div>

	<div class="profile-banner-bottom">
		<div class="wrapper">
			<div class="links">
				<a href="/user/<%=params[:id]%>">Tweets
					<div class="user_data" style="margin-left: 0px;"><%=User.find_by_username(params[:id]).posts.count%></div>
				</a>
				<a href="/user/<%=params[:id]%>/following">Following
					<div class="user_data"><%=User.find_by_username(params[:id]).active_relationships.count%></div>
				</a>
				<a href="/user/<%=params[:id]%>/followers">Followers
					<div class="user_data"><%=User.find_by_username(params[:id]).passive_relationships.count%></div>
				</a>
				<a href="#3">Likes
					<div class="user_data">20</div>
				</a>
			</div>
			<% if params[:id]==current_user.username %>
				<button class="edit">
					<a href="/users/edit"><b style="opacity: 0.7">Edit Profile</b></a>
				</button>
			<% else %>

				<form action="pages/relation" method="POST">
				<input type="hidden" name="followee_id" value="<%=User.find_by_username(params[:id]).id %>"/>
	            	<% if Relationship.where(follower_id: current_user.id , followee_id: User.find_by_username(params[:id]).id).count>0 %>
						<button class="edit">
							<b style="opacity: 0.7">UnFollow</b>
						</button>
					<% else %>
						<button class="edit">
							<b style="opacity: 0.7">Follow</b>
						</button>
					<% end %>
				</form>
			<% end %>
		</div>
	</div>
<% end %>

<div class="container">
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>

<%= yield %>	
</div>

</body>
</html>

<script>

$(".links [href]").each(function() {
		if (this.href == window.location.href) {
            $(this).addClass("onpage");
           }
});

</script>

<style>
	.profile-banner{
		 height: 200px;
    	width: 100%;
    	overflow: hidden;
		margin-top: -21px;
		background-color: #1da1f2;
		border-bottom:1px solid blue;
	}
	.profile-banner-bottom{
		width: 100%;
		height: 70px;
		background-color: white;
		margin-top: -70px;
		box-shadow: 2px 2px 1px lightgrey;
	}
	.links{
		margin-top: 12px;
		display: flex;
		position: relative;
		left: 28%;
		width: 30%;
		justify-content: space-around;
		font-size: 14px;
		font-weight: bold;
	}
	.links a{
		text-decoration: none;
		color: grey;
	}
	.links a div:hover{
		color: #1da1f2;
		cursor: pointer;
	}
	.wrapper{
		display: flex;
		justify-content: space-between;
	}
	#tweets_count{
		margin-top: 5px;
	}
	.edit{
		margin-top: 15px;
		border:1px solid grey;
		position: relative;
		right: 70px;
		border-radius: 50px;
		width: 110px;
		height: 40px;
		background-color: #fff;
		outline: none;
	}
	.edit:hover{
		background-color:rgba(29,161,242,0.1); 
	}

	.edit a{
		text-decoration: none;
	}
	.user_data{
		font-size: 20px;
		margin-top: 5px;
		margin-left: 10px;
	}
	.onpage{
		border-bottom: 3px solid #1da1f2;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom:2px;
	}
	.onpage .user_data{
		color: #1da1f2;
	}
</style>