<!DOCTYPE html>
<html>
<head>
  <title>Zitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>',type: 'success',
    timeout: 2000});
</script>

<% end %>


<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error' ,timeout: 2000});
</script>
<% end %>

<%= render '/layouts/nav' %>

<% if params[:id]!=nil %>
	<% @url='/user/'+params[:id] %>
	<div style="display: flex; width: 100%; height: 250px;">
		<div class="profile-banner">
		</div>
	</div>
	<div class="user-avatar">
	<img class="round" src="/uploads/<%=User.find_by_username(@username).profile_picture%>">
</div>

	<div class="profile-banner-bottom">
		<div class="wrapper">
			<div class="links">
				<a href="/user/<%=params[:id]%>">Tweets
					<div class="user_data" style="margin-left: 0px;"><%=User.find_by_username(params[:id]).posts.count%></div>
				</a>
				<a href="/user/<%=params[:id]%>/following">Following
					<div class="user_data"><%=User.find_by_username(params[:id]).active_relationships.count%></div>
				</a>
				<a href="/user/<%=params[:id]%>/followers">Followers
					<div class="user_data"><%=User.find_by_username(params[:id]).passive_relationships.count%></div>
				</a>
				<a href="#3">Likes
					<div class="user_data"><%=User.find_by_username(params[:id]).likes.count%></div>
				</a>
			</div>
			<% if params[:id]==current_user.username %>
				<button class="edit">
					<a href="/users/edit"><span>Edit Profile</span></a>
				</button>
			<% else %>

				<form action="pages/relation" method="POST">
				<input type="hidden" name="followee_id" value="<%=User.find_by_username(params[:id]).id %>"/>
	            	<% if Relationship.where(follower_id: current_user.id , followee_id: User.find_by_username(params[:id]).id).count>0 %>
						<button class="unmapping">
							<span class="unmapping-text">UnFollow</span>
						</button>
					<% else %>
						<button class="mapping">
							<span class="mapping-text">Follow</span>
						</button>
				
					<% end %>
				</form>
			<% end %>
		</div>
	</div>
<% end %>

<div class="container">

<%= yield %>	
</div>

</body>
</html>

<script>

$(".links [href]").each(function() {
		if (this.href == window.location.href) {
            $(this).addClass("onpage");
           }
});

</script>
