<!DOCTYPE html>
<html>
<head>
  <title>Zitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>',type: 'success',
    timeout: 2000});
</script>

<% end %>


<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error' ,timeout: 2000});
</script>
<% end %>

<%= render '/layouts/nav' %>

<% if params[:id]!=nil %>
	<% @url='/user/'+params[:id] %>
	<img src="/bg2.jpg" class="profile-banner">
<% end %>

<div class="container">
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>

<%= yield %>	
</div>

</body>
</html>

<style>
	.profile-banner{
		width: 100%;
		height: 200px;
		margin-top: -21px;
		overflow: hidden;
	}
</style>